---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";

interface Props {
    post: CollectionEntry<"blog">;
}

export async function getStaticPaths() {
    const blogPosts = (await getCollection(
        "blog",
    )) as CollectionEntry<"blog">[];
    return blogPosts.map((post) => ({
        params: { slug: post.slug },
        props: { post },
    }));
}


const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title="test-post">
    <div class="max-w-[1000px] mx-auto md:px-4 md:py-8">
        <div class="flex mt-24 gap-1 justify-start items-center">
            <a href="/" class="text-sky-600 font-semibold text-sm">
                الرئيسية
            </a>
            <span class="text-slate-500">/</span>
            <a href="/blog" class="font-semibold text-sm"> الأخبار </a>
            <span class="text-slate-500">/</span>
            <a href={`/blog/${post.slug}`} class="font-semibold text-sm">
                {post.data.title}
            </a>
        </div>

        <article
            class="w-full mt-5 flex flex-col justify-start items-start space-y-4"
        >
            <Image
                src={post.data.cover}
                alt={post.data.title}
                class="object-cover object-center w-full !m-0 aspect-video block"
                width={600}
                height={600}
            />
            <h1 class="text-3xl text-slate-900 font-semibold">
                {post.data.title}
            </h1>
            <p class="text-lg text-slate-600">{post.data.excerpt}</p>
            <section class="flex gap-x-3 justify-start items-center">
                {
                    post.data.tags.map((tag: string) => (
                        <span class="text-sm text-slate-900 bg-slate-100 px-4 py-0.5 rounded-full border border-slate-300/35">
                            {tag}
                        </span>
                    ))
                }
            </section>
            <div>
                <Content />
            </div>
        </article>
    </div>
</Layout>

<style is:global>
    @import url("https://fonts.googleapis.com/css2?family=Zain:wght@400;500;600;700&display=swap");
    body {
        direction: rtl;
        text-align: right;
        background-color: #f9fafb;
        font-family: "Zain", sans-serif;
    }
</style>
